body {
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: center;
}

a {
  padding: 10px;
  background-color: gray;
}

figcaption {
  font-size: smaller;
}

#featured-property p {
  width: 800px; 
}

#details {
  float: left;
  background-color: red;
  width: 25%;
}